@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-dark: #242730;
	--foreground-dark: #d3d8e8;
	--background-light: #f3f4f9;
	--foreground-light: #242730;
}

body {
	color: var(--foreground-light);
	background: var(--background-light);
	font-family: Arial, Helvetica, sans-serif;
}

body.dark {
	color: var(--foreground-dark);
	background: var(--background-dark);
}
